[submodule "external/wasm-micro-runtime"]
	path = external/wasm-micro-runtime
	url = https://github.com/cmdc0de/wasm-micro-runtime.git
[submodule "libs/libwss"]
	path = libs/libwss
	url = https://github.com/cmdc0de/libwss.git
